# Peppermint Database
POSTGRES_USER=peppermint
POSTGRES_PASSWORD=1234
POSTGRES_DB=peppermint

# Peppermint App
DB_USERNAME=peppermint
DB_PASSWORD=1234
DB_HOST=peppermint-db
SECRET=peppermint4life

# Ports
PEPPERMINT_PORT=3001
PEPPERMINT_API_PORT=5003
DB_PORT=5433
